<a href="https://colab.research.google.com/github/Gabriele90/Biohacker90/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Random forest**

 is supervised learning algorithm and can be used to solve classification and regression problems. Since decision-tree create only one tree to fit the dataset, it may cause overfitting and model may not generalize well. Unlike decision tree random forest fits multiple decision trees on various sub samples of dataset and make the predictions by averaging the predictions from each tree. Averaging the results from multiple decision trees help to control the overfitting and results in much better prediction accuracy. As you may have noticed, since this algorithm uses multiple trees hence the name ‘Random Forest’

Classification

For classification exercise we are going to use sklearns wine recognition dataset. Objective is to classify wines among three categories based on available data. The data is the results of a chemical analysis of wines grown in the same region in Italy by three different cultivators. There are thirteen different measurements taken for different constituents found in the three types of wine.

**Import Libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import model_selection
from sklearn import ensemble

**Load The Dataset**

In [ ]:
wine = datasets.load_wine()
print('Dataset structure= ', dir(wine))

df = pd.DataFrame(wine.data, columns = wine.feature_names)
df['target'] = wine.target
df['wine_class'] = df.target.apply(lambda x : wine.target_names[x]) # Each value from 'target' is used as index to get corresponding value from 'target_names' 

print('Unique target values=',df['target'].unique())

df.head()

Dataset structure=  ['DESCR', 'data', 'feature_names', 'target', 'target_names']
Unique target values= [0 1 2]

   alcohol  malic_acid   ash  ...  proline  target  wine_class
0    14.23        1.71  2.43  ...   1065.0       0     class_0
1    13.20        1.78  2.14  ...   1050.0       0     class_0
2    13.16        2.36  2.67  ...   1185.0       0     class_0
3    14.37        1.95  2.50  ...   1480.0       0     class_0
4    13.24        2.59  2.87  ...    735.0       0     class_0

[5 rows x 15 columns]

Let visualize the feature values for each type of wine

In [ ]:
df[df.target == 0].head(3)

   alcohol  malic_acid   ash  ...  proline  target  wine_class
0    14.23        1.71  2.43  ...   1065.0       0     class_0
1    13.20        1.78  2.14  ...   1050.0       0     class_0
2    13.16        2.36  2.67  ...   1185.0       0     class_0

[3 rows x 15 columns]

In [ ]:
df[df.target == 1].head(3)

    alcohol  malic_acid   ash  ...  proline  target  wine_class
59    12.37        0.94  1.36  ...    520.0       1     class_1
60    12.33        1.10  2.28  ...    680.0       1     class_1
61    12.64        1.36  2.02  ...    450.0       1     class_1

[3 rows x 15 columns]

In [ ]:
df[df.target == 2].head(3)

     alcohol  malic_acid   ash  ...  proline  target  wine_class
130    12.86        1.35  2.32  ...    630.0       2     class_2
131    12.88        2.99  2.40  ...    530.0       2     class_2
132    12.81        2.31  2.40  ...    560.0       2     class_2

[3 rows x 15 columns]

**Build Machine Learning Model**

In [ ]:
X = df[['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium','total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']]
y = df[['target']]

print('X shape=', X.shape)
print('y shape=', y.shape)

X shape= (178, 13)
y shape= (178, 1)

**Create Test And Train Dataset**

We will split the dataset, so that we can use one set of data for training the model and one set of data for testing the model
We will keep 20% of data for testing and 80% of data for training the model.

In [ ]:
X_train,X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size= 0.2, random_state= 1)
print('X_train dimension= ', X_train.shape)
print('X_test dimension= ', X_test.shape)
print('y_train dimension= ', y_train.shape)
print('y_train dimension= ', y_test.shape)

X_train dimension=  (142, 13)
X_test dimension=  (36, 13)
y_train dimension=  (142, 1)
y_train dimension=  (36, 1)

Now let's train the model using Random Forest Classification Algorithm.

To obtain a deterministic behaviour during fitting always set value for 'random_state' attribute
Also note that default value of criteria to split the data is 'gini'

In [ ]:
rfc = ensemble.RandomForestClassifier(random_state = 1)
rfc.fit(X_train ,y_train.values.ravel()) # Using ravel() to convert column vector y to 1D array

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

**Testing The Model**

For testing we are going to use the test data only
Question: Predict the wine class of 10th and 30th from test data.

In [ ]:
print('Actual Wine type for 10th test data sample= ', wine.target_names[y_test.iloc[10]][0])
print('Wine type prediction for 10th test data sample= ',wine.target_names[rfc.predict([X_test.iloc[10]])][0])

print('Actual Wine type for 30th test data sample= ', wine.target_names[y_test.iloc[30]][0])
print('Wine type prediction for 30th test data sample= ',wine.target_names[rfc.predict([X_test.iloc[30]])][0])

Actual Wine type for 10th test data sample=  class_0
Wine type prediction for 10th test data sample=  class_0
Actual Wine type for 30th test data sample=  class_1
Wine type prediction for 30th test data sample=  class_1

**Model Score**

Check the model score using test data

In [ ]:
rfc.score(X_test, y_test)

0.9722222222222222

Regression Problem 

For regression exercise we are going to use sklearns diabetes dataset.

**Load The Data**

In [ ]:
diabetes = datasets.load_diabetes()
print('Dataset structure= ', dir(diabetes))

df = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
df['target'] = diabetes.target

df.head()

Dataset structure=  ['DESCR', 'data', 'data_filename', 'feature_names', 'target', 'target_filename']

        age       sex       bmi        bp  ...        s4        s5        s6  target
0  0.038076  0.050680  0.061696  0.021872  ... -0.002592  0.019908 -0.017646   151.0
1 -0.001882 -0.044642 -0.051474 -0.026328  ... -0.039493 -0.068330 -0.092204    75.0
2  0.085299  0.050680  0.044451 -0.005671  ... -0.002592  0.002864 -0.025930   141.0
3 -0.089063 -0.044642 -0.011595 -0.036656  ...  0.034309  0.022692 -0.009362   206.0
4  0.005383 -0.044642 -0.036385  0.021872  ... -0.002592 -0.031991 -0.046641   135.0

[5 rows x 11 columns]

**Build Machine Learning Model**

In [ ]:
X = df[['age',	'sex',	'bmi' , 'bp',	's1',	's2',	's3',	's4',	's5',	's6']]
y = df[['target']]

print('X shape=', X.shape)
print('y shape=', y.shape)

X shape= (442, 10)
y shape= (442, 1)

**Create Test And Train Dataset**

We will split the dataset, so that we can use one set of data for training the model and one set of data for testing the model
We will keep 20% of data for testing and 80% of data for training the model

In [ ]:
X_train,X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size= 0.2, random_state= 1)
print('X_train dimension= ', X_train.shape)
print('X_test dimension= ', X_test.shape)
print('y_train dimension= ', y_train.shape)
print('y_train dimension= ', y_test.shape)

X_train dimension=  (353, 10)
X_test dimension=  (89, 10)
y_train dimension=  (353, 1)
y_train dimension=  (89, 1)

Now lets train the model using Random Forest Regressor.

To obtain a deterministic behaviour during fitting always set value for 'random_state' attribute
Also note that default value of criteria to split the data is 'mse' (mean squared error).

In [ ]:
rfr = ensemble.RandomForestRegressor(random_state= 1)
rfr.fit(X_train ,y_train.values.ravel())  # Using ravel() to convert column vector y to 1D array

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

**Testing The Model**

For testing we are going to use the test data only
Question: Predict the values for every test set in test data

In [ ]:
prediction = pd.DataFrame(rfr.predict(X_test), columns = ['prediction'])
target = y_test.reset_index(drop=True) # dropping the original index column
target_vs_prediction = pd.concat([target,prediction],axis =1)
target_vs_prediction.T

                0      1       2      3   ...      85     86     87      88
target       78.00  152.0  200.00  59.00  ...  107.00  49.00  60.00  346.00
prediction  134.88  108.8  157.03  79.25  ...  102.09  87.99  86.12  167.53

[2 rows x 89 columns]

**Model Score**

Check the model score using test data

In [ ]:
rfr.score(X_test, y_test)

0.2837289750645179